
{%extends "base.html" %} 
{%block content%} 

<div>
    <style>
        
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;

        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            text-align: center;
            color:#0A043C;
        }

        h2 {
            text-align: center;
            color: rgb(111, 0, 255)
        }


        h3 {
            text-align: center;
            color: white;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;

        }

        .button {
            background-color: #03506F;
            
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;

        }

        .banner{
            width: 100%;
            height:100v;
            /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75),url(../images/background.jpeg)); */
            background-size: cover;
            background-color: #FBAB7E;
            /* background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
            background-position: center;
            background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
        }
        
        .btn-grad {background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: inline-flex;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            }
            li {
                float: left;
            }
    </style>

    <div class="banner">
        <div class="animation-area">
            <title>Upload new File</title>

            <div style="display:flex;flex-direction:column; align-items:center;
            justify-content:center;
            text-align:center;">
              <div class="animation-area" style="height: 45vh;display:flex;flex-direction:column; align-items:center;
              justify-content:center;text-align:center;">
            <h3 style="color:#0A043C;">Upload Image from your System</h3>
            <div class="center">
                <form action=/predict method=post enctype=multipart/form-data>
                    <input type=file name=file class=btn-grad>
                    <input type=submit value=Upload class=btn-grad>
                </form>
            </div>
            </div>
            </div></div>

            <div style="display:flex;flex-direction:column; align-items:center;
            justify-content:center;
            text-align:center;">
              <div class="animation-area" style="height: 40vh;display:flex;flex-direction:column; align-items:center;
              justify-content:center;text-align:center;color:#FFE3DE;">
            <h3 style="color:black">pass image url </h3>

            <div >
                <form class="form-inline" style="display: inline-flex;" action=/imageurl method=post enctype=multipart/form-data>
                    <div class="form-group mb-2">
                        <input type=url  class=" form-control btn-grad" placeholder="image url" name=url>
                        <input type=submit class=" btn-grad" value="Send Url">
                    </div>
                    
                </form>
            </div>
        </div>

    </div>
    </div>
</div>
{% endblock %}