{% extends "base.html" %}
{% block content%}
<p>File uploaded successfully</p>
<!-- <div class="row">
    <img src="/static/uploads/file.png" alt="Original" style="width:400px;height:500px;">
</div>
<div class="row">
    <img src="/static/uploads/cropped2.jpg" alt="Original" style="width:250px;height:280px;">
</div>
<div class="row">
    <img src="/static/uploads/graph.png" alt="Original" style="width:450px;height:350px;">
</div>
</body>  
</html>   -->

<div class="container cards">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img class="card-img-top" src="/static/uploads/{{filename}}" alt="Card image cap">
                </div>

                <div class="card-body text-center">
                    <h5 class="card-title">{{response[0]['result']}}</h5>
                    <p class="card-text">{{response[0]['mood_message']}}</p>
                    <a href="#" class="btn btn-{{response[0]['mood']}}" style="text-align: center;">Suggestions</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img class="card-img-top" src="/static/uploads/detected{{filename}}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{response[0]['result']}}</h5>
                    <p class="card-text">{{response[0]['mood_message']}}</p>
                    <a href="#" class="btn btn-{{response[0]['mood']}}" style="text-align: center;">Suggestions</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="width: 28rem;">
                <div >
                    <img class="card-img-top" src="/static/uploads/graph{{filename}}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{response[0]['result']}}</h5>
                    <p class="card-text">{{response[0]['mood_message']}}</p>
                    <a href="#" class="btn btn-{{response[0]['mood']}}" style="text-align: center;">Suggestions</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}